@import "tailwindcss";
@import "./fonts.css";

:root {
    color-scheme: light;

    /* Basic theme colors - Light theme by default */
    --primary-bg: #b39b91;
    --secondary-bg: #ffffff;
    --text-color: #ffffff;

    /* UI Elements */
    --nav-bg: #856455;
    --Btn-bg: #6e4b3b;

    /* Accent colors */
    --accent-orange-color: #ff8000;
    --accent-yellow-color: #ffee00;
    --accent1-orange-color: #fad11d;

    /* Form elements */
    --placeholder-color: #595959;
    --input-border-color: #bfbfbf;

    /* Dark Mode */
    --primary-dark-bg: #1e2430;
    --secondary-dark-bg: #2d3748;
    --nav-dark-bg: #111827;
    --btn-dark-bg: #2d3748;
    --text-dark-color: #cdcdcf;
    --input-dark-border: #4a5568;
    --placeholder-dark-color: #a0aec0;
}

/* Reset */
html,
body {
    margin: 0;
    padding: 0;
    background: var(--primary-bg);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

/* Dark mode variabel-override */
.dark-mode {
    --primary-bg: var(--primary-dark-bg);
    --secondary-bg: var(--secondary-dark-bg);
    --nav-bg: var(--nav-dark-bg);
    --btn-bg: var(--btn-dark-bg);
    --text-color: var(--text-dark-color);
    --input-border: var(--input-dark-border);
    --placeholder-color: var(--placeholder-dark-color);
}

/* Typography Styles */
h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

/* Custom Scrollbar Styling */
/*  Firefox */
* {
    scrollbar-color: var(--nav-bg) var(--primary-bg);
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--nav-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--btn-bg);
}

/* In tailwind v4. Hover variant only apply when the primary input device supports hover"
*  Touch displays computer broke hoover effect.
*  Apply custom variant to make hover work on all devices */

@custom-variant hover (&:hover);