/* CSS Based Configuration
    In tailwind v4, instead of using javascript tailwind.config.js - 
    all config customizations is directly done in CSS file 
*/

/* Import tailwond css first then fonts after initial tailwind render */
@import "tailwindcss";
@import "./fonts.css" print;

/* Root variables */
:root {
    /* Light scheme as default */
    color-scheme: light;
    /* Essential Colors */
    --primary-bg: #b39b91;
    --secondary-bg: #ffffff;
    --nav-bg: #856455;
    --Btn-bg: #6e4b3b;
    --accent-orange-color: #ec8b2a;
    --accent1-orange-color: #ffd621;
    --text-color: #ffffff;
    --placeholder-color: #595959;
    --input-border-color: #bfbfbf;
    /* Dark Mode */
    --primary-dark-bg: #1e2430;

    /* Base setup */
    min-height: 100dvh;
    background: var(--primary-bg);
}

/* Reset */
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--primary-bg);
    color: var(--text-color);
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Dark mode variabel-override */
.dark-mode {
    /* Light scheme ax default */
    color-scheme: dark;

    /* Colors */
    --primary-bg: #1e2430;
    --secondary-bg: #2d3748;
    --code-bg: #1a202c;

    /* Navbar specifik */
    --nav-bg: #111827;
    --Btn-bg: #2d3748;

    /* Text och border färger */
    --text-color: #cdcdcf;
    --input-border-color: #4a5568;
    --placeholder-color: #a0aec0;
}

/* Typography Styles */
h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

/* Custom Scrollbar Styling */
/*  Firefox */
* {
    scrollbar-color: var(--nav-bg) var(--primary-bg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--primary-bg);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--nav-bg);
    border-radius: 10px;
    border: 3px solid var(--primary-bg);
    transition: all 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--primary-bg);
}

/* For dark mode adaptation */
.dark-mode *::-webkit-scrollbar-track {
    background: var(--secondary-bg);
}

.dark-mode *::-webkit-scrollbar-thumb {
    border-color: var(--secondary-bg);
}